@font-face {
    src: url(Font/alk-katerina.ttf);
    font-family: alk-katerina;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body {
    background-color: #967BB6;
    text-align: center;
}

h1 {
    text-align: center;
    color: #FFA100;
    font-size: 42px;
    font-family: alk-katerina;
}

.maindiv {
    background-color: #6E5A85;
    height: 550px;
    width: 65%;
    margin: 0 auto;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

input {
    margin: auto;
    text-align: center;
    width: 450px;
    height: 60px;
    font-size: 30px;
    font-family: alk-katerina;
    border: none;
    outline: none;
    caret-color: chartreuse;
    border-radius: 40px;
    background-color: #909099;
}

#Name,#Surname,#Phone,#Email,#Id {
    background-position: calc(100% - 8px)  center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

#Name {
    background-image: url('./SVG/signature-solid.svg');
}

#Surname {
    background-image: url('./SVG/signature-solid.svg');
}

#Id {
    background-image: url('./SVG/id-card-solid.svg');
}

#Phone {
    background-image: url('./SVG/phone-square-alt-solid.svg');
}

#Email {
    background-image: url('./SVG/envelope-regular.svg');
}

#Name:not(:placeholder-shown),
#Surname:not(:placeholder-shown),
#Id:not(:placeholder-shown),
#Phone:not(:placeholder-shown),
#Email:not(:placeholder-shown) {
    background-image: none;
}

input:focus {
    border: 1px solid chartreuse;
}

::placeholder {
    color: chartreuse;
}

button {
    padding:0px 0px 0px 0px;
    text-align: center;
    margin:0px 0px 0px 0px;
    width: 300px;
    height:40px;
    background:#FF931E;
    z-index:15;
    font-family: alk-katerina;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 5px 5px 0px 0px;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform-origin: bottom right;
    position: fixed;
    right: 0;
}

button:active {
    background-color: #FE621D;
}